$base-height: 50px;

.autocomplete-comp {
  margin: 100px 0;
  max-width: 550px;
  width: 100%;

  &.active .autocomplete-form .search-list {
    opacity: 1;
    pointer-events: auto;

    li {
      display: block;
    }
  }

  .autocomplete-form {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;

    input {
      height: 55px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      padding: 0 60px 0 20px;
      font-size: 18px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .delete-btn {
      height: 55px;
      width: 55px;
      line-height: 55px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      cursor: pointer;
    }

    .search-list {
      max-height: 280px;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;

      li {
        padding: 8px 12px;
        width: 100%;
        cursor: default;
        border-radius: 3px;
        display: none;

        &:hover {
          background-color: #efefef;
        }
      }
    }
  }
}
