.edit-component {
  display: flex;
  flex-direction: column;

  .edit-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .name {
      margin-bottom: 20px;
    }
    input {
      border: 1px solid gray;
      text-align: center;
    }

    label {
      margin-right: 5px;
    }
  }

  .edit-result {
    display: flex;
    justify-content: space-evenly;
  }
}
