.tab-component-container {
  width: 500px;
  height: 300px;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 8px 0 0 8px;
}

.tab-component {
  display: flex;
  height: 100%;

  .tab-component-title {
    flex: 0;
    margin-right: 10px;
  }

  .tab {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .tab-menu {
    display: flex;
    height: 36px;

    .tab-item {
      background-color: rgba(0, 0, 0, 0.3);
      width: 32%;
      padding: 10px;

      &:first-child {
        width: 5%;
      }

      &.is-active {
        background-color: purple;
        .tab-link {
          color: white;
        }
      }
    }

    .tab-link {
      display: block;
      color: gray;
      font-size: 1.2em;
    }
  }

  .tab-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-5%);
  }
}
