.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  border: solid 1px gray;
  border-radius: 10px;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toggle-component {
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    position: relative;

    .toggle-input {
      appearance: none;
      opacity: 0;
      width: 100% !important;
      height: 100%;
      position: absolute !important;
    }

    .toggle {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      position: relative;
      display: inline-block;
      width: 4.5em;
      height: 2.15em;
      border-radius: 1.75em;
      vertical-align: center;
      margin: 0.2em 0;
      background: gray;
      background: linear-gradient(to left, gray 50%, purple 50%) right;
      background-size: 200%;
      transition: 0.5s ease-out;

      .indicator {
        display: block;
        width: 1.4em;
        height: 1.4em;
        border-radius: 1.75em;
        transition: transform 0.4s ease-in, width 0.4s ease-in-out;
        background: white;
        margin: 6px 6px;
        box-shadow: 0 1px 3px 0.3;
        pointer-events: none;
      }
    }
  }
}
